

.detailedDeviceHeaderButtons {
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1em;
}

.deviceImageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20em;
}

.deviceProfileImage {
    max-width: 20em;
    min-width: 5em;
    border-radius: 5em;
    padding-right: 1em;
}

.deviceDescription {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
}

.deviceDescriptionDetails div {
    margin-bottom: 0.5em;
}

.deviceHeaderInfo p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.deviceInfoLabel {
    font-weight: bold;
    font-size: 0.9em;
    margin-right: 1em;
}

.deviceInfoDetails {
    font-size: 0.9em;
}

.deviceActivities h4 {
    margin-block-end: 2em;
}

.viewAllButton > button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.h4noBottom {
    margin-block-end: 0.5em;
}

.documentListHeader span {
    color: slategray;
}

.documentsList {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.notesListHeader span {
    color: slategray;
}

.notesList {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: flex-start;
    margin-top: 1em;
    gap: 3em;
}