.signUpForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.signUpForm input {
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: #242233;
    box-shadow: none;
    border: 1px solid grey;
    color: white;
    padding: 0.5em;
    transition: 0.5s ease-out;
}

.signUpForm input:hover {
    border: 1px solid white;
    transition: 0.5s ease-out;
}

.submitButton {
    color: white;
    background-color: #242233;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 0.7em 1.2em;
    transition: 0.5s ease-out;
    font-size: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.submitButton:hover {
    border: 1px solid white;
    transition: 0.5s ease-out;
}

.hidden {
    display: none;
}
