.thirdSection {
    display: flex;
    justify-content: center;
    padding-top: 8em;
    padding-bottom: 4em;
    background-color: #3D3939;
    color: white;
    gap: 5em;
}

.dashboardScreenshot img {
    width: 30vw;
    border-radius: 0.5em;
}

.blurred {
    filter: blur(3px);
}

.infos {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.information {
    font-size: 2em;
}

.imageBehind {
    position: relative;
    bottom: 13em;
    z-index: 0;
    left: 2em;
}