body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 500em;

}

code {
  font-family: 'DM Sans', sans-serif;
}
