.profileDescriptionDetails div {
    margin-bottom: 0.5em;
}

.profileDescription {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
}

.profileInfoLabel {
    font-weight: bold;
    font-size: 0.9em;
    margin-right: 1em;
}

.profileInfoDetails {
    font-size: 0.9em;
}

.buttonsProfileHeader {
    display: flex;
    gap: 1em;
}