.singleCard {
    padding: 4em 2em;
    border-radius: 1em;
    background-color: white;
    max-width: 14em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.singleCardTop {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.singleCard img {
    width: 5em;
}